# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**

# Install script runs within Docker
!build-bin/maven/maven_build
!build-bin/maven/maven_build_or_unjar
!build-bin/maven/maven_opts
!build-bin/maven/maven_unjar

# Allow on-demand "mvn package". <modules> referenced in pom.xml must be added even if not built
!cassandra3/src/main/**
!elasticsearch/src/main/**
!main/src/main/**
!mysql/src/main/**
!**/pom.xml

# Allow re-use of built artifacts when using "mvn package"
!/main/target/zipkin-dependencies-*.jar

# cron related files
!docker/periodic/**
!docker/bin/start-zipkin-dependencies
