# https://docs.docker.com/engine/reference/builder/#dockerignore-file
**
!docker/bin/**
!docker/periodic/**

# Allow re-use of built artifacts when building docker from master or a release tag
!/main/target/zipkin-dependencies-*.jar
